body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000; /* پس زمینه سیاه */
    color: #fff; /* رنگ متن سفید */
    font-family: sans-serif;
    background-image: url('https://raw.githubusercontent.com/Amir24NZ/ByeHitler/refs/heads/main/pic/far.png');
    background-size: 10%; /* اندازه تکسچر خیلی ریز و پرتعداد */
    background-repeat: repeat; /* مطمئن میشیم که تکرار بشه */
    background-blend-mode: screen; /* برای سفید کردن تکسچر سیاه در پس زمینه سیاه */
}

@media (max-width: 768px) {
    body {
        background-size: 25%; /* اندازه تکسچر 10% برای صفحه‌نمایش‌های کوچک‌تر */
    }
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.circular-image {
    width: 200px; /* اندازه عکس دایره ای */
    height: 200px;
    border-radius: 50%; /* دایره ای کردن عکس */
    object-fit: cover; /* مطمئن شدن از اینکه عکس داخل دایره به خوبی جا بیفته */
    margin-bottom: 20px; /* فاصله بین عکس و متن */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* کمی سایه برای برجسته شدن عکس */
}

.timeline-text {
    font-size: 1.5em; /* اندازه متن */
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* کمی سایه برای برجسته شدن متن */
}